<a href="https://colab.research.google.com/github/KaoThin280/PythonForDataScience/blob/main/2_Variable_Object_and__Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

variable_name = value

In [1]:
base_salary = 1000000

In [2]:
base_salary

1000000

Calculate with variable

In [8]:
internship_salary = base_salary

In [4]:
lv1_employee_salary = base_salary * 2.1

In [5]:
lv2_employee_salary = base_salary * 3

In [10]:
leadership_salary = base_salary * 4.5

In [13]:
bonus_rate = .15

In [17]:
print("intern salary: ",internship_salary * (1 + bonus_rate))
print("lv1 employee salary: ",lv1_employee_salary * (1 + bonus_rate))
print("lv2 employee salary: ",lv2_employee_salary * (1 + bonus_rate))
print("Leader salary: ",leadership_salary * (1 + bonus_rate))

intern salary:  1150000.0
lv1 employee salary:  2415000.0
lv2 employee salary:  3449999.9999999995
Leader salary:  5175000.0

In [25]:
my_string = "This is a long string"

In [26]:
my_string

'This is a long string'

In [31]:
print("original: ",my_string)
print("Upper: ",my_string.upper())

print("lower: ",my_string.lower())

print("title: ",my_string.title())

print("find: ",my_string.find("is a"))

print("replace: ",my_string.replace("long", "short replaced"))

print("split: ",my_string.split())

print("startswith: ",my_string.startswith("This"))

print("endswith: ",my_string.endswith("long"))

print("strip: ","This is".strip())

original:  This is a long string
Upper:  THIS IS A LONG STRING
lower:  this is a long string
title:  This Is A Long String
find:  5
replace:  This is a short replaced string
split:  ['This', 'is', 'a', 'long', 'string']
startswith:  True
endswith:  False
strip:  This is

# Object in Python

Everything in python is an object, a Data Record with fields or an instance of a class

In [32]:
number_var = 999
string_var = "Hello world"

In [33]:
1000

1000

In [34]:
number_var

999

In [35]:
string_var

'Hello world'

In [36]:
print(number_var)
print(string_var)

999
Hello world

In [37]:
print

In [40]:
type("1000")

str

In [41]:
type(string_var)

str

In [42]:
type(number_var)

int

In [43]:
type(1000)

int

Variable_name is the name that references an object

In [44]:
first_person = "This object" # the first person is pointing to 'This object'
id(first_person)

137897294086768

In [45]:
second_person = "That object" # the second person is pointing to an other object
id(second_person)

137897261570480

In [46]:
third_person = first_person # the third person is pointing to the same object pointed by the first person
id(third_person)

137897294086768

Remember this to manage your data.

*Bonus:

In [47]:
duplicated_print = print

In [48]:
duplicated_print("Hello world")

Hello world

# Function

In [50]:
def greeting():
  print("Hey, what's up!")

In [51]:
greeting()

Hey, what's up!

In [67]:
def salary_calculator(emp_name, level, bonus_rate):
  greeting()
  print(f"{emp_name}, your salary this month is:")
  return base_salary * level * (1 + bonus_rate)

In [68]:
employee_name = "N C T"
level = 3
bonus_rate = .23

In [66]:
salary_calculator(employee_name, level, bonus_rate)

Hey, what's up!
N C T, your salary this month is: .

3690000.0